!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title Portfolio
    = csrf_meta_tags
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,300,500', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag  'cms/application', media: 'all', 'data-turbolinks-track' => 'reload'
  %body
    .container
    = javascript_include_tag 'cms/bundle', 'data-turbolinks-track' => 'reload'
